#img-size {
    width: 100px;
    height: 50px;
}


.orange-bg {
    background-color: #fbeae9;
}

.btn-color {
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: white;
}
.categories h1 {
    color: white;
}
.categories img {
    width: 100px;
}
.margin-top {
    margin-top: 60px;
}
.cat-1 {
    background-color: #f2c010;
}

.cat-2 {
    background-color: orchid;
}

.cat-3 {
    background-color: blue;
}
.category-item {
    margin-top: 80px;
}

.card-body button:hover {
    color: white;

}
.card {
    border: none;


}
.card-1 img, .card-2 img, .card-3 img, .bag-1 img, .bag-2 img, .bag-3 img, .watch-1 img, .watch-2 img, .watch-3 img {
    opacity: 0.9;
}
.card-1:hover img, .card-2:hover img, .card-3:hover img, .bag-1:hover img, .bag-2:hover img, .bag-3:hover img, .watch-1:hover img, .watch-2:hover img, .watch-3:hover img  {
    opacity: 1;
}


.card-1:hover {
    box-shadow: 5px 5px 40px orange;
}

.card-2:hover, .bag-3:hover, .watch-2:hover {
    box-shadow: 5px 5px 40px gray;
}

.card-3:hover ,.bag-1:hover {
    box-shadow: 5px 5px 40px red;
}

.card-1:hover .btn{
    background-image: linear-gradient(180deg,orange, black);
    z-index: 2;
    transition: 5s ease-in-out;
}

.card-2:hover .btn, .bag-3:hover .btn, .watch-2:hover .btn{
    background-image: linear-gradient(180deg,gray, black);
    z-index: 2;
    transition: 5s ease-in-out;

}
.card-3:hover img {
   

}

.card-3:hover .btn, .bag-1:hover .btn{
    background-image: linear-gradient(180deg, red, black);
    transition: 5s ease-in-out;

}

.bag-2:hover {
    box-shadow: 5px 5px 40px #4083a1;
}

.bag-2:hover .btn{
    background-image: linear-gradient(180deg, #4083a1, black);
    transition: 5s ease-in-out;

}

.watch-1 img, .watch-2 img, .watch-3 img {
    height: 100px;
    width: 100px;
    display: inline-block;
    
}

.watch-1:hover {
    box-shadow: 5px 5px 40px green;
}

.watch-3:hover {
    box-shadow: 5px 5px 40px #7c5755;
}

.watch-1:hover .btn{
    background-image: linear-gradient(180deg, #3d824b, black);
    transition: 5s ease-in-out;

}

.watch-3:hover .btn{
    background-image: linear-gradient(180deg, #7c5755, black);
    transition: 5s ease-in-out;

}
.watch-1 img, .watch-2 img, .watch-3 img {
    max-width: 100%;
}


