.orange-bg {
    background-color: #fbeae9;
}
.btn-color {
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: white;
}
.categories h1 {
    color: white;
}
.categories img {
    width: 100px;
}
.margin-top {
    margin-top: 60px;
}
.cat-1 {
    background-color: #f2c010;
}

.cat-2 {
    background-color: orchid;
}

.cat-3 {
    background-color: blue;
}
.category-item {
    margin-top: 80px;
}

.card-body button:hover {
    color: white;

}
.card {
    border: none;


}
.card-3 {

}
.card-1:hover {
    box-shadow: 5px 5px 40px orange;
}

.card-2:hover {
    box-shadow: 5px 5px 40px gray;
}

.card-3:hover {
    box-shadow: 5px 5px 40px red;
}

.card-1:hover .btn{
    background-image: linear-gradient(orange, black);
    z-index: 2;
    transition: 5s ease-in-out;
}

.card-2:hover .btn{
    background-image: linear-gradient(gray, black);
    z-index: 2;
    transition: 5s ease-in-out;

}
.card-3:hover img {
   
}

.card-3:hover .btn{
    background-image: linear-gradient(180deg, red, black);

    transition: 5s ease-in-out;

}


